trello:
  url: https://api.trello.com/1 # probably don't want to change this
  labels:
    important: important
    unimportant: not important
  lists:
    - 5b09d7346cad9862b28a687f
  cardsPerList: 200
  cardSizePluginId: 5cd476e1efce1d2e0cbe53a8 # don't need to change this
  cardSizeUnit: hr

email:
  server:
    host: smtp.example.com
    port: 587
    secure: true
    username: example_username
    password: example_password
  message:
    from: '"John Doe" <jdoe@example.com>'
    to: a@example.com, b@example.com

chooser:
  sources:
    - 5fcdd1ab903bec878aba847e
    - 5f2ece418e385049108e600d
  destination:
    board: 4edbfd087e75c00000247583
    list: 62f336bff84c3700b5c6ceef
  budgets:
    mon:
      important: 2
      unimportant: 5
    tue:
      important: 2
      unimportant: 5
    wed:
      important: 2
      unimportant: 5
    thu:
      important: 2
      unimportant: 5
    fri:
      important: 2
      unimportant: 5
    sat:
      important: 2
      unimportant: 5
    sun:
      important: 2
      unimportant: 5
  labels:
    important: Important
    unimportant: Not Important
  defaults:
    label: unimportant # or "ignore"
    size: ignore # or number
    deadline: 1209600 # 14 days # or "ignore"

todos:
  defaultDue: 1209600
  urgentTime: 604800
  urgentAmount: 3
  importantAmount: 2
  recurringArchive: # Careful! This will archive all cards in the specified lists
    - 5b09f72444ad9962f28f6d7f
  recurring:
    - type: dow
      value: 1
      name: Do this on Mondays
      list: 5b09f72444ad9962f28f6d7f
    - type: date
      value: odd
      name: Do this on odd days
      list: 5b09f72444ad9962f28f6d7f
    - type: date
      value: even
      name: Do this on even days
      list: 5b09f72444ad9962f28f6d7f
    - type: dow
      value: '*'
      due: '11:00' # due at 11am; note that quotes are needed
      name: Do this every day
      list: 5b09f72444ad9962f28f6d7f
